<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2mAXoa_JqMlNv4xWZl1C0Sy05ZI_XdL8</string>
	<key>GCM_SENDER_ID</key>
	<string>543132882147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forsi.gmar</string>
	<key>PROJECT_ID</key>
	<string>jest-time-capsule</string>
	<key>STORAGE_BUCKET</key>
	<string>jest-time-capsule.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543132882147:ios:91b228b8ffee8a8f63a1d6</string>
</dict>
</plist>